@page

<header class="text-center mb-5">
    <h4 class="display-4">Agregar Trabajo</h4>
</header>

<div class="row justify-content-center">
    <div class="col-md-5">
        <form>
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input id="nameInput" class="form-control" placeholder="Ingresa el Nombre del trabajo"/>
                <div class="invalid-feedback">
                    Por favor ingresa el nombre del trabajo.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Descripción</label>
                <input id="descriptionInput" class="form-control" placeholder="Descripción del Trabajo"/>
                <div class="invalid-feedback">
                    Por favor ingresa la descripción del trabajo.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Salary</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input id="salaryInput" class="form-control" placeholder="0.00" type="number"/>
                    <div class="invalid-feedback">
                        Por favor ingresa un salario del trabajo válido.
                    </div>
                </div>
            </div>
            <div class="mt-4 d-flex justify-content-center">
                <button type="button" id="saveButton" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        document.addEventListener("DOMContentLoaded", async () => {
            const nameInput = document.getElementById("nameInput");
            const descriptionInput = document.getElementById("descriptionInput");
            const salaryInput = document.getElementById("salaryInput");
            const saveButton = document.getElementById("saveButton");
            
            const validateInputs = () => {
                let isValid = true;
            
                // Validar Nombre
                if (!nameInput.value.trim()) {
                    nameInput.classList.add("is-invalid");
                    isValid = false;
                } else {
                    nameInput.classList.remove("is-invalid");
                }
            
                // Validar Descripción
                if (!descriptionInput.value.trim()) {
                    descriptionInput.classList.add("is-invalid");
                    isValid = false;
                } else {
                    descriptionInput.classList.remove("is-invalid");
                }
            
                // Validar Salario
                // Se podría agregar una validación para verificar que el salario es un número positivo
                if (!salaryInput.value.trim() || Number(salaryInput.value) <= 0) {
                    salaryInput.classList.add("is-invalid");
                    isValid = false;
                } else {
                    salaryInput.classList.remove("is-invalid");
                }
            
                return isValid;
            };
            
            const save = () => {
                if (!validateInputs()) return;
                
                const data = {
                    name: nameInput.value,
                    description: descriptionInput.value,
                    salary: Number(salaryInput.value)
                };
                
                fetch("https://calm-peak-00131-243c55c55205.herokuapp.com/job/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => response.json())
                    .then(data => {
                        window.location.href = "/Job/Index";
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
            }
            
            saveButton.addEventListener("click", save);
            
            window.onload = () => {
                nameInput.focus();
                
                addEventListener("keyup", event => {
                    if (event.key === "Enter") {
                        save();
                    }
                }); 
            }
        });
    </script>
}
